/* 1. Configuração padrão para limpar margens do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* Gradiente */
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(31, 48, 74, 1) 50%, rgba(0, 0, 0, 1) 100%, rgba(237, 221, 83, 1) 100%);; 
}

/* Estilizando Cabeçalho */
.cabecalho {
    background-color: #22222200; /* Fundo escuro */
    color: white;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #44444436; /* Linha de separação */
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    box-align: center;
    margin-left: 1rem;
}

.portifolio {
    font-family: dm sans;
    margin-bottom: 16px;
    font-weight: lighter;
}

/* Estilizando nome completo */
.nomecompleto {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.descricao {
    font-family: dm sans;
    margin-bottom: 3rem;
    font-weight: lighter;
}

/* Estilizando primeiro nome */
.nome {
    font-size: 2rem; 
}

/* Estilizando segundo nome */
.nome2 {
    font-style: italic;
    font-size: 1.5rem; 
    color: #3c4ffd
}




/* 3. Estilizando suas seções de Redes */
.rede {
    color:#ffffff;
    background-color: rgba(255, 255, 255, 0.027);
    margin-bottom: 1rem;
    box-align: center;
    margin-left: 2rem;
    margin-right: 4rem;
    padding: 15px;
    border: 1px solid #dddddd00;
    
    /* Ativar o Flexbox coloca a div do texto e a div da foto lado a lado */
    display: flex; 
    justify-content: space-between; /* Empurra o texto para a esquerda e o ícone para a direita */
    align-items: center; /* Centraliza verticalmente */
}

.nome-rede {
    text-align: left; /* Alinha o texto à esquerda */
    font-family: dm sans;
    font-weight: 200;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column; /* Coloca o texto em uma coluna */
    align-items: flex-start; /* Alinha o texto à esquerda */
    margin-right: 10px; /* Espaço entre o texto e o ícone */
}

a {
    color: rgb(255, 255, 255); 
    text-decoration: none; /*  tira aquele risco sublinhado */
}

/* 4. Estilizando suas seções de Projetos */
.projetos {
    color:#ffffff;
    background-color: rgba(255, 255, 255, 0.027);
    margin-bottom: 1rem;
    box-align: center;
    margin-left: 2rem;
    margin-right: 8rem;
    padding: 15px;
    border: 1px solid #d

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Garante que as imagens dos seus projetos não fiquem gigantes na tela */
.projetos img {
    max-width: 5px;
    height: auto;
}